<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text  banner-text">
                🥳 We are live now , Do Your PARTON Humanity !
            </div>
        </div>
    </div>

    <nav>
        <div class="container nav-bar flex">
            <a href="#" class="company-logo"> 
                <img src="LOGO.jpg" alt="company logo">
            </a>
            <div class="nav-links">
                <ul class="flex">
                    <li><a href="/" class="hover-link">Home</a></li>
                    <li><a href="/ourwork" class="hover-link">Our Works</a></li>
                    <li><a href="/event" class="hover-link">Events</a></li>
                    <li><a href="/shop" class="hover-link">Donate/Shop</a></li>
                    <li><a href="/aboutus" class="hover-link">About Us</a></li>
                    <li><a href="#" class="hover-link cart" ><img src="pink-cart.png"></a></li>
                </ul
            </div>
        </div>
    </nav>
    <div class="heading1 flex">
        <h1 class="b">About <span class="c">Us</span></h1>
        <h1 class="a">Meet Our Team</h1>
    </div>
    <div class="d">
        <p class="about"> Fine Arts Section is the art and craft society of IIT Roorkee. It is an open skill sharing platform for all the art enthusiasts of R Land. People come to our section, work together, sharts Section is the art and craft society of IIT Roorkee. It is an open skill sharing platform for all the art enthusiasts of R Land. People come to our section, work together, share their abilities and talents to bring the best in everyone. All the materials are provided in the section and one can try hand on any art technique like quilling, sketching, origami, doodling, clay modelling, acrylic and oil painting. </p>
    </div>
     <div class="about-us">
        <img src="about us 2.jpg" alt="">
     </div>
   
    </body>
    </html>
    