<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='style4.css'>
</head>
<body>
    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text  banner-text">
                🥳 We are live now , Do Your PARTON Humanity !
            </div>
        </div>
    </div>

    <nav>
        <div class="container nav-bar flex">
            <a href="#" class="company-logo"> 
                <img src="LOGO.jpg" alt="company logo">
            </a>
            <div class="nav-links">
                <ul class="flex">
                    <li><a href="/" class="hover-link">Home</a></li>
                    <li><a href="/ourwork" class="hover-link">Our Works</a></li>
                    <li><a href="/event" class="hover-link">Events</a></li>
                    <li><a href="/shop" class="hover-link">Donate/Shop</a></li>
                    <li><a href="/aboutus" class="hover-link">About Us</a></li>
                    <li><a href="#" class="hover-link cart" ><img src="pink-cart.png"></a></li>
                </ul
            </div>
        </div>
    </nav>
    <div class="eve">
        <img src="events.jpg" alt="">
     </div>
</body>
</html>
