<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='style1.css'>
</head>
<body>
    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text  banner-text">
                🥳 We are live now , Do Your PARTON Humanity !
            </div>
        </div>
    </div>

    <nav>
        <div class="container nav-bar flex">
            <a href="#" class="company-logo"> 
                <img src="LOGO.jpg" alt="company logo">
            </a>
            <div class="nav-links">
                <ul class="flex">
                  <li><a href="/" class="hover-link">Home</a></li>
                  <li><a href="/ourwork" class="hover-link">Our Works</a></li>
                  <li><a href="/event" class="hover-link">Events</a></li>
                  <li><a href="/shop" class="hover-link">Donate/Shop</a></li>
                  <li><a href="/aboutus" class="hover-link">About Us</a></li>
                    <li><a href="#" class="hover-link cart" ><img src="pink-cart.png"></a></li>
                </ul
            </div>
        </div>
    </nav>

    <header>
        <div class="front">
            
            <img src="front.PNG">
            <div class="tagline">
                <h1 class="tag">We do <span class="auto-type"></span></h1>
            </div>
        </div>
    </header>
    
    <div class="front-banner flex">
        <div class="three-logo">
            <img src="front-banner.PNG">
            <div class="box flex">
             <div class="box-text"><h1 class="box-text-1">We <span class="inner-text">Love</span> To: </h1></div>
            <div class="box1 flex"><h1 class="vector"><img src="vector1.png"><br><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjc7Li_lcf8AhV1_HMBHcePBd0QFnoECA4QAQ&url=https%3A%2F%2Fwww.facebook.com%2Froorkeecares%2F&usg=AOvVaw3oNmS_TXN8NvBTMsmvUp24">Create a better world for animals</a></h1></div>
            <div class="box2 flex"><h1 class="vector"><img src="vector2.png"><br><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwj29pbKlcf8AhWm73MBHSpqDOEQFnoECA0QAQ&url=https%3A%2F%2Fwww.iitr.ac.in%2Fgati%2F&usg=AOvVaw0nUKG4-d7yd2EToiEd7Ohn">Contribute for betterment of society </a></h1></div>
            <div class="box3 flex"><h1 class="vector"><img src="vector3.png"><br><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi_3cXYlcf8AhW_xXMBHaw0DLgQFnoECAsQAQ&url=https%3A%2F%2Fwww.instagram.com%2Ffineartsiitr%2F%3Fhl%3Den&usg=AOvVaw2LiTpsk9O3ScqyhKbUv30C">Make a difference one brushstroke at a time</a></h1></div>
            </div>
        </div>  
    </div>

    <div class="b1 flex">
         <img src="banner2.png"><h1 class="animals">IITR Cares x pARTon </h1>

    </div>

    <div class="b2 flex">
        <div class="box4">  <h1 class="tag2">What's the process ?</h1></div>
        <h1 class="tag2">What's the process ?</h1>

        <img src="pink-banner.png">
    </div>

    <div class="foot">
        <div class="main-content">
          <div class="left box">
            <h2>About us</h2>
            <div class="content">
              <p class="para">Fine arts and pARTon work togather to make a positive change</p>
              <div class="social">
                <a href=""><span class="fab fa-facebook-f"></span></a>
                <a href="#"><span class="fab fa-twitter"></span></a>
                <a href=""><span class="fab fa-instagram"></span></a>
                <a href=""><span class="fab fa-youtube"></span></a>
              </div>
            </div>
          </div>
          <div class="center box">
            <h2>Address</h2>
            <div class="content">
              <div class="place">
                <span class="fas fa-map-marker-alt"></span>
                <span class="text">Rajendra Bhavan IIT Roorkee , Roorkee</span>
              </div>
              <div class="phone">
                <span class="fas fa-phone-alt"></span>
                <span class="text">+089-765432100</span>
              </div>
              <div class="email">
                <span class="fas fa-envelope"></span>
                <span class="text">abc@example.com</span>
              </div>
            </div>
          </div>
          <div class="right box">
            <h2>Contact us</h2>
            <div class="content">
              <form action="#">
                <div class="email">
                  <div class="text">Email *</div>
                  <input type="email" required>
                </div>
                <div class="msg">
                  <div class="text">Message *</div>
                  <textarea rows="2" cols="25" required></textarea>
                </div>
                <div class="btn">
                  <button type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="bottom">
          <center>
            <span class="credit">Created By <a href="/">SPARK PLUGS</a> | </span>
            <span class="far fa-copyright"></span><span> 2023 All rights reserved.</span>
          </center>
        </div>
      </div>
    

    

    
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed= new Typed(".auto-type",{
            strings: ["Art.", "Care."], 
            typeSpeed: 150,
            backSpeed: 150,
            loop: true
        }
        )
    </script>
</body>
</html>