<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="linked page.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

</head>
<body>
    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text banner-text">
            🥳 We are live now , Do Your PARTON Humanity
        </div>
        </div>
    </div>
    

    <nav>
        <div class="container nav-bar flex" id="myHeader">
            <a href="#" class="company-logo" style="height: 120px;">
                <img src="logo.png" alt="company logo">
            </a>
            <div class="nav-links">
                <ul class="flex">
                    <li><a href="/" class="hover-link">Home</a></li>
                    <li><a href="/ourwork" class="hover-link">Our Works</a></li>
                    <li><a href="/event" class="hover-link">Events</a></li>
                    <li><a href="/shop" class="hover-link">Donate/Shop</a></li>
                    <li><a href="/aboutus" class="hover-link">About Us</a></li>
                        <img src="pink-cart.png" alt="Cart">
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="tab">
    <img id="myImg"  src="image1corrected.png" alt="Image_wallpaper">
</div>
<div class="slay">
    <div class="box">
    <h2 title="Moments in the Sand">Moments in the Sand</h2>
</div>
<div class="bar">
    ₹ 500
    <span class="material-icons-outlined" style="padding-left: 683px;" title="favorite">
        favorite
        </span>
    <span>69</span>
    <span class="material-icons-outlined" style="padding-left: 20px;" title="visibility">
        visibility
        </span>
        <span>100</span>
            <span class="material-icons-outlined" style="padding-left: 20px;" title="share">
                share
                </span>
            
            <button class="mart">
                <span class="material-icons-outlined">
                    shopping_cart
                    </span>
            </button>
            <button class="buy" style="width: 171.1px; height: 45.6px; margin-left: 20px;" onclick="window.location.href='/checkout'">
                <span class="material-icons-outlined" >
                    shopping_bag
                    </span>
                    <span class="now">Buy Now</span>
            
            </button>
            <br>
            <br>
            <br>
            <div class="description">
            <h3>Description</h3>
           <p>A sketch is a preliminary drawing, often made in pencil or charcoal, that is used to capture an idea or concept.Sketches are often rough and unfinished, and are used as a starting point for more detailed and finished drawings or paintings.</p>
        </div>
        <br>
            <br>
            <br>
            <br>
            <hr>
            <br>
            <div class="about">
                <h3>About Artist</h3>
                <p>Fine Arts Section is the art and craft society of IIT Roorkee. It is an open skill sharing platform for all the art enthusiasts of R-Land. People come to our section, work together, share their abilities and talents to bring the best in everyone. All the materials are provided in the section and one can try hand on any art technique like quilling, sketching, origami, doodling, clay modelling, acrylic and oil painting. We conduct regular sketch walks, competitions and open workshops all round the year to teach and guide others. We participate in various events such as Inter IIT Cultural meet and competitions and fests organised by other colleges. We have our annual Art Exhibition 'Darpan' held during the month of March where we showcase our finest artworks. We also conduct Friends Of Section to invite the common people and give them a chance to learn and create and bring out their artistic side. Consistency, enthusiasm, devotion and passion for art is required to be a part of the Fine Arts section, IIT Roorkee.</p>
                <br>
                <br>
                <div class="artist">
                <img src="finearts.jpg" alt="Fine Arts Group" style="width: 540px; height: 440px;"></div>
            </div>
            
</div>
</div>
<footer>
    &copy;Copyright 2023 (All Rights Reserved) Spark Plugs
  </footer>
</body>
</html>