<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style6.css">
</head>
<body>
    <div class="top-banner">
        <div class="container1">
            <div class="small-bold-text banner-text">
            🥳 We are live now , Do Your PARTON Humanity
        </div>
        </div>
    </div>
    

    <nav>
        <div class="container nav-bar flex" id="navbar">
            <a href="#" class="company-logo">
                <img src="logo.png" alt="company logo" >
            </a>
            <div class="nav-links">
                <ul class="flex">
                    <li><a href="/" class="hover-link">Home</a></li>
                    <li><a href="/ourwork" class="hover-link">Our Works</a></li>
                    <li><a href="/event" class="hover-link">Events</a></li>
                    <li><a href="/shop" class="hover-link">Donate/Shop</a></li>
                    <li><a href="/aboutus" class="hover-link">About Us</a></li>
                    <li><a href="" class="hover-link cart">
                        <img src="pink-cart.png" alt="Cart">
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Our Work</h1>
    <div class="container2">

    <div class="gallery-container ">
        <div class="gallery-item">
        <div class="image">
            <img src="Img1.png" >
        </div>
        <div class="text">Street Art</div>
    </div>
    </div>

    <div class="gallery-container w-3 h-4" >
        <div class="gallery-item">
        <div class="image">
            <img src="Img2.png" >
        </div>
        <div class="text">Street Art</div>
        </div>
    </div>

    <div class="gallery-container w-5">
        <div class="gallery-item">
        <div class="image">
            <img src="Img3.png" >
        </div>
        <div class="text">Street Art</div>
        </div>
    </div>

    <div class="gallery-container h-1">
        <div class="gallery-item">
        <div class="image">
            <img src="img4.png" >
        </div>
        <div class="text">Street Art</div>
        </div>
    </div>


    <div class="gallery-container w-2 h-2">
        <div class="gallery-item">
        <div class="image">
            <img src="Img5.png" >
        </div>
        <div class="text">Street Art</div>
        </div>
    </div>

    <div class="gallery-container">
        <div class="gallery-item">
        <div class="image">
            <img src="Cart2.png" >
        </div>
        <div class="text">Carbon Art</div>
        </div>
    </div>


    <div class="gallery-container">
        <div class="gallery-item">
        <div class="image">
            <img src="image5.png" >
        </div>
        <div class="text">Sketches</div> </div>  </div>

    <div class="gallery-container h-2">
        <div class="gallery-item">
        <div class="image">
            <img src="Extra3.png" >
        </div>
        <div class="text">Miscellaneous</div>
        </div>
    </div> 

    <div class="gallery-container h-2">
        <div class="gallery-item">
        <div class="image">
            <img src="image4c.png" >
        </div>
        <div class="text">Sketches</div> </div>  </div>

        <div class="gallery-container w-2 h-2">
            <div class="gallery-item">
            <div class="image">
                <img src="Extra5.png" >
            </div>
            <div class="text">Miscellaneous</div> </div>  </div>
            
            <div class="gallery-container  h-2">
                <div class="gallery-item">
                <div class="image">
                    <img src="image1corrected.png" >
                </div>
                <div class="text">Sketches</div> </div>  </div>
    </div>
</body>
</html>