<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shop.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>
    
    <div class="top-banner">
        <div class="container">
            <div class="small-bold-text banner-text">
            🥳 We are live now , Do Your PARTON Humanity
        </div>
        </div>
    </div>
    

    <nav>
        <div class="container nav-bar flex" id="navbar">
            <a href="#" class="company-logo">
                <img src="logo.png" alt="company logo" >
            </a>
            <div class="nav-links">
                <ul class="flex">
                    <li><a href="/" class="hover-link">Home</a></li>
                    <li><a href="/ourwork" class="hover-link">Our Works</a></li>
                    <li><a href="/event" class="hover-link">Events</a></li>
                    <li><a href="/shop" class="hover-link">Donate/Shop</a></li>
                    <li><a href="/aboutus" class="hover-link">About Us</a></li>
                    <li><a href="" class="hover-link cart">
                        <img src="pink-cart.png" alt="Cart">
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="categories">
    <div class="small-container">
    <div class="row">
        <h1 style="font-family: roboto, san-serif; margin-right: 150px;">Sketches</h1>
        <div class="col-1">

         <div class="Art-1" >  
        <img src="Image0.png" >
        <div class="text">₹ 500</div>
    </div>
    <div class="Art-2">
        <a href="/linkedpage" target="_blank">
            <img src="image1corrected.png" ></a>
        <div class="text">₹ 500</div>
    </div>
         <div class="Art-3">
            <img src="image2c.png" >
            <div class="text">₹ 500</div>
         </div>
         <div class="Art-4">
            <img src="image3c.png">
            <div class="text">₹ 500</div>
         </div>
         <div class="Art-5">
            <img src="image4c.png" >
            <div class="text">₹ 500</div>
         </div>
         <div class="Art-6">
            <img src="Image6c.png" >
            <div class="text">₹ 500</div>
         </div>
         <div class="Art-7">
            <img src="Image8c.png" >
            <div class="text">₹ 500</div>
         </div>
         <div class="Art-8">
            <img src="image5.png" >
            <div class="text">₹ 500</div>
         </div>
         
        </div>
        <h1 style="font-family: 'roboto', san-serif; margin-right: 150px;">Carbon Art</h1>
        <div class="col-2">
            <div class="Art-9">
                <img src="Cart1.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-10">
                <img src="Cart2.png">  
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-11">
                <img src="Cart3.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-12">
                <img src="Cart4.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-13">
                <img src="Cart5.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-14">
                <img src="Cart6.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-15">
                <img src="Cart7.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-16">
                <img src="Cart8.png">
                <div class="text">₹ 500</div>
            </div>
        </div>
        <h1 style="font-family: 'roboto', san-serif; margin-right: 150px;">Miscellaneous</h1>
        <div class="col-3">
            <div class="Art-17">
                <img src="Extra1.png" height="400px">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-18">
                <img src="Extra2.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-19">
                <img src="Extra3.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-20">
                <img src="Extra4.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-21">
                <img src="Extra5.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-22">
                <img src="Extra6.png">
                <div class="text">₹ 500</div> 
            </div>
            <div class="Art-23">
                <img src="Extra7.png">
                <div class="text">₹ 500</div>
            </div>
            <div class="Art-24">
                <img src="Extra8.png">
                <div class="text">₹ 500</div>
            </div>
    </div>
    </div>
</div>
</div>
</div>
</div>

</body>
</html>